<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update Inventory Type</title>
</head>
<body>
<a href="/">Home</a>
<h1>Update Inventory Type</h1>
<form action="#" th:action="@{/inventory/type/update}" th:object="${inventoryTypeDao}" method="post">
    <p> Id: <input type="number" id="id" th:field="*{id}" required/></p>
    <p> Name: <input type="text" th:field="*{name}" required/></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
</form>
</body>
</html>