<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        table, th, td{
        border: 1px solid black;
        }
    </style>
    <title>Get all Payment</title>
</head>
<a href="/">Home</a>
<h1>Get All Payment <div th:text="${var}"/></h1>
<table>
    <tr>
        <th>id</th>
        <th>Class</th>
    </tr>
    <div th:each="i : *{all}">
        <tr>
            <td><p th:text="${i.id}" /></td>
            <td><p th:text="${i.name}" /></td>
        </tr>
    </div>
</table>

</body>
</html>