<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Order</title>
    <style>
        table, th, td{
        border: 1px solid black;
        }
    </style>
</head>
<a href="/">Home</a>
<h1>Purchase Order</h1>
<table>
    <tr>
        <th>Approval Id</th>
        <th>Inventory Type</th>
        <th>Requested By</th>
        <th>Requesting Class</th>
        <th>Quantity to purchase</th>
        <th>Quantity already purchased</th>
        <th>Approved By</th>
        <th>Approved on</th>
    </tr>
    <div th:each="entry : *{requests}">
        <tr>
            <td><p th:text = "${entry.id}"></p></td>
            <td><p th:text = "${entry.inventoryType}"></p></td>
            <td><p th:text="${entry.requestedBy}"></p></td>
            <td><p th:text="${entry.requestingClass}"></p></td>
            <td><p th:text="${entry.approvedQuantity}"></p></td>
            <td><p th:text="${entry.addedToInventory}"></p></td>
            <td><p th:text="${entry.approvedByUserName}"></p></td>
            <td><p th:text="${entry.approvedDate}"/></td>
        </tr>
    </div>
</table>

</body>
</html>