<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        table, th, td{
        border: 1px solid black;
        }
    </style>
    <title>Get all Status</title>
</head>
<a href="/">Home</a>


<h1>Status</h1>
<div>
    <a href="/status/create">Add</a>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
<div th:each="entry : *{status}">
    <tr>
    <td><p th:text = "${entry.id}"></p></td>
    <td><p th:text="${entry.name}"></p></td>
    </tr>

</div>
</table>

</body>
</html>