<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        table, th, td{
        border: 1px solid black;
        }
    </style>
    <title>Get all Users</title>
</head>
<a href="/">Home</a>
<h1>Users</h1>
<div>
    <a href="/user/create">Add</a>
</div>
<table>
    <tr>
        <th>UserName</th>
        <th>Role</th>
        <th>Active</th>
    </tr>
<div th:each="userDao : *{users}">
        <tr>
            <td><p th:text="${userDao.userName}" /></td>
            <td><p th:text="${userDao.role}" /></td>
            <td><p th:text ="${userDao.isEnabled}" /></td>
        </tr>

</div>
</table>

</body>
</html>