<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Activate/Deactivate User</title>
</head>
<body>
<a href="/">Home</a>
<h1>Activate/Deactivate User</h1>
<form action="#" th:action="@{/user/enable}" th:object="${enableUserDao}" method="post">
    <p> UserName: <input type="text" id="id" th:field="*{userName}" required/></p>
    <p> Activate(true/false) <input type="text" th:field="*{isEnable}" required/></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
</form>
</body>
</html>