<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add User</title>
</head>
<a href="/">Home</a>
<body>
<h1>Add User</h1>
<form action="#" th:action="@{/user/create}" th:object="${createUserRequestDao}" method="post">
    <p> Username: <input type="text" th:field="*{userName}" /></p>
    <p> Password: <input type="password" th:field="*{password}" required/></p>
    <p> Confirm Password: <input type="password" th:field="*{confirmPassword}" required/></p>
    <p> Role: (ROLE_USER,ROLE_ADMIN) <input type="text" th:field="*{role}" required/></p>
    <p> Enable: (true/false) <input type="text" th:field="*{isEnabled}" required/></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
</form>
</body>
</html>